{% extends 'base.html' %}
{% load static %}
{% block title %}{{order}}{% endblock %}

{% block content %}
<div class="container-md w-50 mb-5 mt-5" id="order_detail">
    <h1>{{order}}</h1>
    {% for pd in order.products_list.all %}
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <a href="{% url "main:detail" pd.product.id %}">
                        <img src="{{pd.product.pd_imgs.all.0.image.url}}" class="img-thumbnail">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-title text-end">{{pd}}</p>
                        <p class="card-text text-end">SL: {{pd.ordered_quantity}}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="border-top" id="address">
        <h3>Address</h3>
        <p>Address: {{address.address}}</p>
        <p>Phone Number: {{address.phone_number}}</p>
        <p>Payment method: {{address.payment_method}}</p>
        <p>Status: {{order.status}}</p>
        <h3 class="border-top">Total price: {{order.total_price}}$</h3>
    </div>
</div>
{% endblock %}